<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STACK OVERFLOW</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/so_style.css'%}">
</head>
<body>
  <div class="dropdown" tabindex="0">
    <button class="menubutton"><i class="fa fa-bars"></i></button>
      <div class="menu">
          <p class="home-link"><a href=#">Home</a></p>
          <p class="dropdown-label">Public</p>
          <p class="dropdown-link"><i class="fa fa-globe"></i><a href="#">Questions</a></p>
          <p class="dropdown-link"><a href="#">Tags</a></p>
          <p class="dropdown-link"><a href="#">Users</a></p>
          <p class="dropdown-label">Collectives</p>
          <p class="dropdown-link"><i class="fa fa-star"></i><a href="#">Explore Collectives</a></p>
      </div>
  </div>
</body>
</html>